<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981380582685-5m1adano5v2f47jhiqk8piupdnjlhfoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981380582685-5m1adano5v2f47jhiqk8piupdnjlhfoc</string>
	<key>API_KEY</key>
	<string>AIzaSyAJUAUNYv7Med1hvExZmeuW4BAWpq4XAwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>981380582685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-97330</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-97330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981380582685:ios:e1eaa9481bc7524b9265f4</string>
</dict>
</plist>